/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.header{
  margin-bottom: 50px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.logInfo{
  color:#9d9d9d;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
  cursor: pointer;
}

.logInfo:hover{
 color:white;
}

.logInfo span{
    padding: 10px 15px;
    line-height: 20px;
}

#expanddiv{
    min-width: 150px;
    position: absolute;
    right: 5px;
    top: 45px;
    z-index: 2000;
    background-color: #333;
    box-shadow: 0 1px 10px rgba(50, 50, 50, .7);
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#expanddiv>ul>li{k
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -25px;
    margin-bottom: 0;
    list-style: none;
    text-align: left;
}

#expanddiv>ul>li img{
  padding-right: 5px;
}

#expanddiv>ul>li>a{
 color:#9d9d9d;
 cursor: pointer;
}

#expanddiv>ul>li>a:hover{
 color:white;
 text-decoration: none;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    /*max-width: 730px; */
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  max-width: 730px;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.marketing p + h4 {
  margin-top: 28px;
}

.square {
  padding: 14px;
  border: 1px solid #AAAAAA;
  overflow: scroll;
  height: 150px;
}

.square-noscroll {
  padding: 14px;
  border: 1px solid #AAAAAA;
}

.nav .breadcrumb {
    margin: 0 7px;
}
@media (min-width: 768px) {
    .nav .breadcrumb {
        float: left;
        margin: 7px 10px;
    }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }


}

  .container-full {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

body svg{
  display: none;
}

.container-full svg{
  display: block;
}


/* space between the bar and your content */
#barwrap { margin-bottom: 30px;  }

.bar {
  text-align: center;
  padding: 8px;
  line-height: 65px;
  background-color: black;
  /* set it at will according to your message's length in small devices */
  max-height: 100px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  color: #f5f5f5;
  border-bottom: thick ridge rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 13px 0.5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 13px 0.5px rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 3008;
}

.bar img{
  vertical-align: baseline;
}

#head-image {
  margin-right: 1%;
  position: relative;
  top: 8px;
}

#text { position: relative;
}

#ok {
  float: right;
  margin-top: 6px;
  margin-right: 10px;
  font-size: 25px;
}

#ok a {
  color: #3EAAEE;
  text-decoration: none;
}

.settings {
  padding-top: 20px;
  text-align: left;
}

.settings label {
  min-width: 100%;
}

.togglebutton {
  vertical-align: middle;
  padding-bottom: 5px;
}
.togglebutton,
.togglebutton input,
.togglebutton .toggle {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.togglebutton {
  cursor: pointer;
  color: rgba(0,0,0, 0.26);
}
.form-group.is-focused .togglebutton {
  color: rgba(0,0,0, 0.26);
}
fieldset[disabled] .form-group.is-focused .togglebutton {
  color: rgba(0,0,0, 0.26);
}
.togglebutton input[type=checkbox] {
  opacity: 0;
}
.togglebutton .toggle {
  text-align: left;
}
.togglebutton .toggle,
.togglebutton input[type=checkbox][disabled] + .toggle {
  content: "";
  display: inline-block;
  width: 30px;
  height: 15px;
  background-color: rgba(80, 80, 80, 0.7);
  border-radius: 15px;
  margin-right: 15px;
  -webkit-transition: background 0.3s ease;
       -o-transition: background 0.3s ease;
          transition: background 0.3s ease;
  vertical-align: middle;
  float: right;
}
.togglebutton .toggle:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #F1F1F1;
  border-radius: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
  left: -5px;
  top: -2px;
  -webkit-transition: left 0.3s ease, background 0.3s ease, -webkit-box-shadow 0.1s ease;
       -o-transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
          transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
}
.togglebutton input[type=checkbox][disabled] + .toggle:after,
.togglebutton input[type=checkbox][disabled]:checked + .toggle:after {
  background-color: #BDBDBD;
}
.togglebutton input[type=checkbox] + .toggle:active:after,
.togglebutton input[type=checkbox][disabled] + .toggle:active:after {
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.1);
}
.togglebutton input[type=checkbox]:checked + .toggle:after {
  left: 15px;
}
.togglebutton input[type=checkbox]:checked + .toggle {
  background-color: rgba(0, 150, 136, 0.5);
}
.togglebutton input[type=checkbox]:checked + .toggle:after {
  background-color: #009688;
}
.togglebutton input[type=checkbox]:checked + .toggle:active:after {
  -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 150, 136, 0.1);
          box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 150, 136, 0.1);
}
