.ui-timeline {
	height: 150px;
    width: 100%;
}

.timeline .extent {
	stroke: #fff;
	fill-opacity: 0.125;
	shape-rendering: crispEdges;
}

#timeline {
	overflow-x: auto;
	overflow-y: hidden;
}

.axis path,
.axis line {
  //fill: none;
  fill-opacity: 0.125;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  /*fill: rgba(255, 140, 0, 0.45); // DarkOrange*/
  fill: rgba(154, 205, 50, 1.0); // Fluorescente green
}

.areaAll {
  fill: rgba(104, 142, 35, 0.15); // OliveDrab
}
